

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Alata, sans-serif;
  font-family: Montserrat, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-family: Alata, sans-serif;
}

a {
  text-decoration: none;
  font-family: Alata, sans-serif;
}

.container {
  text-align: center;
  position: relative;
}

.letters a {
  position: absolute;
  left: 0;
  right: 0;
  top: -50%;
  opacity: 0;
}

.letters:hover a {
  color: orange;
  left: 0;
  right: 0;
  opacity: 1;

}

.letters:hover span {
opacity: 0;
}

.fun {
  color: #000;
  left: 0;
  right: 0;
  opacity: 1;
}

.fun:hover {
  color: #000;
  left: 0;
  right: 0;
  opacity: 0;
}

span {
  margin: 0;
  font-family: Alata, sans-serif;
}

.btn-1 {
  overflow: hidden;
  position: relative;
}

  body {
    margin: 0;
    overflow: hidden;
  }
